USE [master]
GO
/****** Object:  Database [WEBBANGIAY]    Script Date: 6/26/2020 4:36:09 PM ******/
CREATE DATABASE [WEBBANGIAY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WEBBANGIAY', FILENAME = N'D:\Programs\Microsoft SQL Server\MSSQL12.CHUYENDE1\MSSQL\DATA\WEBBANGIAY.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WEBBANGIAY_log', FILENAME = N'D:\Programs\Microsoft SQL Server\MSSQL12.CHUYENDE1\MSSQL\DATA\WEBBANGIAY_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WEBBANGIAY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WEBBANGIAY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 6/26/2020 4:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Accounts](
	[User_Name] [varchar](20) NOT NULL,
	[Active] [bit] NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[User_Role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 6/26/2020 4:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order_Details](
	[ID] [varchar](50) NOT NULL,
	[Amount] [float] NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ORDER_ID] [varchar](50) NOT NULL,
	[PRODUCT_ID] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/26/2020 4:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [varchar](50) NOT NULL,
	[Amount] [float] NOT NULL,
	[Customer_Address] [varchar](255) NOT NULL,
	[Customer_Email] [varchar](128) NOT NULL,
	[Customer_Name] [varchar](255) NOT NULL,
	[Customer_Phone] [varchar](128) NOT NULL,
	[Order_Date] [datetime] NOT NULL,
	[Order_Num] [int] NOT NULL,
	[Status] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/26/2020 4:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[Code] [varchar](20) NOT NULL,
	[Create_Date] [datetime] NOT NULL,
	[Image] [varchar](255) NULL,
	[Name] [varchar](255) NOT NULL,
	[Price] [float] NOT NULL,
	[Product_Type] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Accounts] ([User_Name], [Active], [Password], [User_Role]) VALUES (N'employee1', 1, N'123', N'EMPLOYEE')
INSERT [dbo].[Accounts] ([User_Name], [Active], [Password], [User_Role]) VALUES (N'manager1', 1, N'123', N'MANAGER')
INSERT [dbo].[Products] ([Code], [Create_Date], [Image], [Name], [Price], [Product_Type]) VALUES (N'S001', CAST(N'2020-06-26 00:00:00.000' AS DateTime), N'mitrexam.jpg', N'Giày Mitre Xám', 350000, N'Giày')
/****** Object:  Index [UK_sxhpvsj665kmi4f7jdu9d2791]    Script Date: 6/26/2020 4:36:09 PM ******/
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [UK_sxhpvsj665kmi4f7jdu9d2791] UNIQUE NONCLUSTERED 
(
	[Order_Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [ORDER_DETAIL_ORD_FK] FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [ORDER_DETAIL_ORD_FK]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [ORDER_DETAIL_PROD_FK] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[Products] ([Code])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [ORDER_DETAIL_PROD_FK]
GO
USE [master]
GO
